<mat-sidenav-container class="container" >
  <navigation-header (accountEvent)="register()" (logoutEvent)="logout()"  [user]="user$ | async" (loginEvent)="login()" (sidenavToggle)="sidenav.toggle()"></navigation-header>

  <mat-sidenav #sidenav mode="side" >
    <navigation-side (navigateClicked)="changeRoute($event)" [user]="user$ | async" (sidenavClose)="sidenav.close()"></navigation-side>
  </mat-sidenav>

 <main class="container">
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>


<button *ngIf="isDebugVisible" (click)="onDebug()"mat-icon-button aria-label="debug">
  <mat-icon>bug_report</mat-icon>
</button>
